html
  head
    title PhoenixJS Demo
    link(rel="stylesheet", href="../css/index.css")
  body
    block header
      .header
        p Whoa, a Header!
    block content
    block footer
      .footer
        p And a Footer!
    script(src='../js/app.js')
